@using ResumePortfolioWebSite.Extensions
@model ResumePortfolioWebSite.Models.HomeModel
<div class="wrapper">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">
            <div class="status-mes">
                Loading...
            </div>
        </div>
    </div>
    <!-- Navigation start -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#intro">Igor Fesenko</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#intro">Home</a></li>
                    <li><a href="#profile">Profile</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#resume">Resume</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navigation end -->
    <!-- Intro section start -->
<section id="intro" class="section"
         data-backstretch-image="@CdnUrl.Content("content/images/background.jpg")" 
         data-fallback-image="@Url.Content("~/content/images/background.jpg")">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hello wow bounceInDown">
                        <h1>Hi, I'm Igor Fesenko</h1>
                        <h3>
                            <span class="rotate">Software Design Engineer. | Microsoft Certified Solutions Developer. | Create simple solutions to complex problems.</span>
                        </h3>
                    </div>
                    <a href="#profile">
                        <div class="mouse-icon">
                            <div class="wheel"></div>
                        </div>
                    </a>
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </section>
    <!-- Intro section end -->
    <!-- Profile contact callout section -->
    <section id="profile-contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 wow bounceInLeft">
                    <div class="profile-item">
                        <i class="fa fa-envelope"></i>
                        <h5>igor<!-- >@@. --><!-- >@@. -->.aka<!-- >@@. -->.<!-- >@@. -->ky7m@@<!-- >@@. -->gmail<!-- >@@. -->.<!-- >@@. -->com</h5>
                    </div>
                </div>
                <div class="col-sm-3 wow bounceInDown">
                    <div class="profile-item">
                        <i class="fa fa-skype"></i>
                        <h5>igor<!-- >@@. --><!-- >@@. -->.aka<!-- >@@. -->.<!-- >@@. -->ky7m</h5>
                    </div>
                </div>
                <div class="col-sm-3 wow bounceInUp">
                    <div class="profile-item">
                        <i class="fa fa-phone"></i>
                        <h5>(+380)<!-- >@@. --><!-- >@@. -->-50<!-- >@@. --><!-- >@@. -->-715<!-- >@@. -->-12<!-- >@@. --><!-- >@@. -->-91</h5>
                    </div>
                </div>
                <div class="col-sm-3 wow bounceInRight">
                    <div class="profile-item">
                        <i class="fa fa-map-marker"></i>
                        <h5>Lviv, Ukraine</h5>
                    </div>
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </section>
    <!-- Profile contact callout section -->
    <!-- Profile section start -->
    <section id="profile" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 headline wow bounceInDown">
                    <h2>Igor Fesenko</h2>
                    <p>
                        Software Design Engineer. Microsoft Certified Solutions Developer. Create simple solutions to complex problems.
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 hidden-xs wow bounceInLeft">
                    <img class="avatar" src="@CdnUrl.Content("content/images/avatar.jpg")"
                         alt="Personal photo" 
                         onerror="this.onerror = null; this.src = '@Url.Content("~/content/images/avatar.jpg")';">
                    <div class="profile-widget">
                        <ul class="widget-social">
                            <li><a href="https://github.com/Ky7m"><i class="fa fa-github-alt"></i></a></li>
                            <li><a href="https://bitbucket.org/Ky7m"><i class="fa fa-bitbucket"></i></a></li>
                            <li><a href="https://www.linkedin.com/profile/view?id=182744142"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://twitter.com/ky7m"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow bounceInUp">
                    <div class="profile-widget">
                        <h3>Skillset</h3>

                        <h5>Web Applications and Sites</h5>
                        <div class="skill-bar">
                            <div class="skill-rate-on"></div>
                            <div class="skill-rate-on"></div>
                            <div class="skill-rate-on"></div>
                            <div class="skill-rate-on"></div>
                        </div>

                        <h5>Web Services and SOA</h5>
                        <div class="skill-bar">
                            <div class="skill-rate-on"></div>
                            <div class="skill-rate-on"></div>
                            <div class="skill-rate-on"></div>
                            <div class="skill-rate-on"></div>
                        </div>

                        <h5>Security and Identity</h5>
                        <div class="skill-bar">
                            <div class="skill-rate-on"></div>
                            <div class="skill-rate-on"></div>
                            <div class="skill-rate-on"></div>
                            <div class="skill-rate-on"></div>
                        </div>

                        <h5>Data Access, Integration, and Databases</h5>
                        <div class="skill-bar">
                            <div class="skill-rate-on"></div>
                            <div class="skill-rate-on"></div>
                            <div class="skill-rate-on"></div>
                            <div class="skill-rate-off"></div>
                        </div>

                        <h5>Desktop Applications</h5>
                        <div class="skill-bar">
                            <div class="skill-rate-on"></div>
                            <div class="skill-rate-on"></div>
                            <div class="skill-rate-on"></div>
                            <div class="skill-rate-off"></div>
                        </div>

                        <h5>Cloud Computing</h5>
                        <div class="skill-bar">
                            <div class="skill-rate-on"></div>
                            <div class="skill-rate-on"></div>
                            <div class="skill-rate-on"></div>
                            <div class="skill-rate-off"></div>
                        </div>

                        <h5>Mobile Client Applications</h5>
                        <div class="skill-bar">
                            <div class="skill-rate-on"></div>
                            <div class="skill-rate-on"></div>
                            <div class="skill-rate-on"></div>
                            <div class="skill-rate-off"></div>
                        </div>

                        <h5>Big Data</h5>
                        <div class="skill-bar">
                            <div class="skill-rate-on"></div>
                            <div class="skill-rate-on"></div>
                            <div class="skill-rate-off"></div>
                            <div class="skill-rate-off"></div>
                        </div>
                    </div>
                </div><!-- .col-md-3 -->
                <div class="col-md-6 col-sm-12 wow bounceInRight">
                    <h3>Professional Profile</h3>
                    <p>
                        I'm specializing in scalable and secure web application and services architecture, cloud-enabled applications and operations, and identity & access management.
                    </p>
                    <p>
                        I'm available for helping your team succeed through focused and effective consulting services in software solution architecture, design, development, security, operations, automated lifecycle management, and more.
                    </p>
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </section>
    <!-- Profile section end -->
    <!-- Callout section start -->
    <section id="stats" class="callout">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 hidden-xs wow bounceInLeft">
                    <h3>My Stats</h3>
                </div>
                <div class="col-md-4 col-sm-4 wow bounceInDown">
                    <div class="stat">
                        <div class="stat-icon">
                            <h2><i class="fa fa-coffee hidden-xs"></i><span class="timer" data-to="@Model.CupOfCoffee"></span></h2>
                        </div>
                        <h3>Cup of coffee</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 wow bounceInUp">
                    <div class="stat">
                        <div class="stat-icon">
                            <h2><i class="fa fa-code hidden-xs"></i><span class="timer" data-to="@Model.LineOfCode"></span></h2>
                        </div>
                        <h3>Line of code</h3>
                    </div>
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </section>
    <!-- Callout section end -->
    <!-- Services section start -->
    <section id="services" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 headline wow bounceInDown">
                    <h2>What I can do</h2>
                    <p>
                        I'm succeed in
                    </p>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-6 wow bounceInLeft">
                            <div class="service">
                                <div class="icon">
                                    <i class="fa fa-sitemap"></i>
                                </div>
                                <h4>Web Applications and Sites</h4>
                                <ul>
                                    <li>Modern Websites (HTML 5, CSS 3, JavaScript)</li>
                                    <li>Responsive Websites</li>
                                    <li>Windows Azure Web Sites</li>
                                    <li>ASP.NET MVC, Web Forms, and Web Sites</li>
                                    <li>Web Frameworks (bootstrap, knockout and more)</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 wow bounceInRight">
                            <div class="service">
                                <div class="icon">
                                    <i class="fa fa-server"></i>
                                </div>
                                <h4>Web Services and SOA</h4>
                                <ul>
                                    <li>ASP.NET Web API</li>
                                    <li>Windows Communication Foundation (WCF)</li>
                                    <li>REST, Web APIs, and SOAP RPC Services</li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .row -->
                    <div class="row">
                        <div class="col-sm-6 wow bounceInLeft" data-wow-delay=".2s">
                            <div class="service">
                                <div class="icon">
                                    <i class="fa fa-user-secret"></i>
                                </div>
                                <h4>Security and Identity</h4>
                                <ul>
                                    <li>Windows Identity Foundation (WIF)</li>
                                    <li>WS-Security</li>
                                    <li>OpenID/OAuth</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 wow bounceInRight" data-wow-delay=".2s">
                            <div class="service">
                                <div class="icon">
                                    <i class="fa fa-database"></i>
                                </div>
                                <h4>Data Access, Integration, and Databases</h4>
                                <ul>
                                    <li>ADO.NET & Entity Framework</li>
                                    <li>SQL Server 2008, 2012 & 2014</li>
                                    <li>Windows Azure SQL Database</li>
                                    <li>SQL Server Integration Services (SSIS)</li>
                                    <li>Windows Azure Table Storage (NoSQL)</li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .row -->
                    <div class="row">
                        <div class="col-sm-6 wow bounceInLeft" data-wow-delay=".4s">
                            <div class="service">
                                <div class="icon">
                                    <i class="fa fa-desktop"></i>
                                </div>
                                <h4>Desktop Applications</h4>
                                <ul>
                                    <li>Windows 8 (Windows Store) Applications</li>
                                    <li>Windows Presentation Foundation (WPF)</li>
                                    <li>Windows Forms</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 wow bounceInRight" data-wow-delay=".4s">
                            <div class="service">
                                <div class="icon">
                                    <i class="fa fa-cloud"></i>
                                </div>
                                <h4>Cloud Computing</h4>
                                <ul>
                                    <li>Windows Azure</li>
                                    <li>Amazon Web Services</li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .row -->
                    <div class="row">
                        <div class="col-sm-6 wow bounceInLeft" data-wow-delay=".6s">
                            <div class="service">
                                <div class="icon">
                                    <i class="fa fa-mobile"></i>
                                </div>
                                <h4>Mobile Client Applications</h4>
                                <ul>
                                    <li>Windows Phone 8 / 8.1</li>
                                    <li>Windows Store (Win 8) Applications</li>
                                    <li>Xamarin for iOS, Android, and Windows Phone</li>
                                    <li>Cordova</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 wow bounceInRight" data-wow-delay=".6s">
                            <div class="service">
                                <div class="icon">
                                    <i class="fa fa-table"></i>
                                </div>
                                <h4>Big Data</h4>
                                <ul>
                                    <li>Hadoop</li>
                                    <li>HDInsight</li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .col-md-12 -->
            </div><!-- .row -->
        </div><!-- .container -->
    </section>
    <!-- Services section end -->
    <!-- Resume section start -->
    <section id="resume" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 headline wow bounceInDown">
                    <h2>Resume</h2>
                    <p>
                        My education and experience.
                    </p>
                </div>
            </div><!-- .row -->
            <div class="row resume-items">
                <div class="col-md-3 wow bounceInLeft">
                    <h3>Education</h3>
                </div>
                <div class="col-md-6 col-sm-8 resume-item wow bounceInLeft">
                    <h4>Computer science</h4>
                    <p>
                        Honours Degree in Automatic control. It's the application of control theory for regulation of processes without direct human intervention.
                    </p>
                    <hr class="hidden-xs">
                </div>
                <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
                    <h4><i class="fa fa-suitcase"></i>Sevastopol National Technical University</h4>
                    <i class="fa fa-calendar"></i> 2006 - 2011
                    <hr class="visible-xs">
                </div>
            </div><!-- .row -->
            <div class="row resume-items">
                <div class="col-md-3 wow bounceInLeft">
                    <h3>Experience</h3>
                </div>

                <div class="col-md-6 col-sm-8 resume-item wow bounceInUp">
                    <h4>Technical Leader</h4>
                    <p>
                        Establish proper technical vision, setup and maintain software engineering processes on the project incorporating best industry practices. Ensure the highest quality of project deliverables which meet client objectives and priorities.
                    </p>
                    <hr class="hidden-xs">
                </div>
                <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
                    <h4><i class="fa fa-suitcase"></i> SoftServe</h4>
                    <i class="fa fa-calendar"></i> 2014 - Present
                    <hr class="visible-xs">
                </div>

                <div class="col-md-6 col-md-offset-3 col-sm-8 resume-item wow bounceInUp">
                    <h4>Senior .NET / ASP.NET Software Design Engineer</h4>
                    <p>
                        Designed and implemented software including complex components. Took full responsibility for the implementation of certain web-based project parts.
                    </p>
                    <hr class="hidden-xs">
                </div>
                <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
                    <h4><i class="fa fa-suitcase"></i> SoftServe</h4>
                    <i class="fa fa-calendar"></i> 2013 - 2014
                    <hr class="visible-xs">
                </div>

                <div class="col-md-6 col-md-offset-3 col-sm-8 resume-item wow bounceInUp">
                    <h4>.NET / ASP.NET Software Design Engineer</h4>
                    <p>
                        Developed AJAX-based client-side web application that is used as an interface for master data management (MDM) system. Written in C# and JavaScript, connecting to SQL Server via WCF.
                    </p>
                    <hr class="hidden-xs">
                </div>
                <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
                    <h4><i class="fa fa-suitcase"></i> SoftServe</h4>
                    <i class="fa fa-calendar"></i> 2012 - 2013
                    <hr class="visible-xs">
                </div>

                <div class="col-md-6 col-md-offset-3 col-sm-8 resume-item wow bounceInUp">
                    <h4>.NET Software Design Engineer</h4>
                    <p>Design and implementation of software for diverse clients. Some projects include:</p>
                    <ul>
                        <li>Designed and implemented desktop client for WebEffector services. Written in C# using WPF.</li>
                        <li>Designed and implemented components for a web-based portal that is used as management system. Written in C# using ASP.NET Web Forms.</li>
                    </ul>
                    <hr class="hidden-xs">
                </div>
                <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
                    <h4><i class="fa fa-suitcase"></i> Miralab</h4>
                    <i class="fa fa-calendar"></i> 2011 - 2012
                    <hr class="visible-xs">
                </div>

                <div class="col-md-6 col-md-offset-3 col-sm-8 resume-item wow bounceInUp">
                    <h4>.NET Software Design Engineer</h4>
                    <p>Wrote software for internal use.  Projects include:</p>
                    <ul>
                        <li>Designed and implemented program emulator of Outdoor Switching Module for testing purposes. Written in C# and C++ using Interprocess communication (IPC).</li>
                        <li>Architect designing and implementing a Software Package that is dedicated for electricity meters testing. Written in C# using WinForms.</li>
                    </ul>
                    <hr class="hidden-xs">
                </div>
                <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
                    <h4><i class="fa fa-suitcase"></i> Tavrida Electric</h4>
                    <i class="fa fa-calendar"></i> 2010 - 2011
                    <hr class="visible-xs">
                </div>
            </div><!-- .row -->
            @* <div class="row">
                    <div class="col-md-6 col-md-offset-3 wow bounceInUp">
                        <a href="#" class="btn btn-default btn-custom-2"><i class="fa fa-cloud-download icon-before"></i> Download CV</a>
                    </div>
                </div><!-- .row -->*@
        </div><!-- .container -->
    </section>
    <!-- Resume section end -->
    <!-- Certifications section start -->
    <section id="certifications" class="callout">
        <div class="container">
            <div class="row">
                <div class="col-md-3 hidden-xs wow bounceInLeft">
                    <h3>Certifications</h3>
                </div>
                <div class="col-md-9 wow bounceInRight">
                    <div id="owl-certifications" class="owl-carousel">
                        <div class="owl-item">
                            <img src="@CdnUrl.Content("content/images/mcp.png")"
                                 alt="MCPS: Microsoft Certified Professional"
                                 onerror="this.onerror = null; this.src = '@Url.Content("~/content/images/mcp.png")';">
                        </div>
                        <div class="owl-item">
                            <img src="@CdnUrl.Content("content/images/mcsd.png")"
                                 alt="MCSD: Web Applications"
                                 onerror="this.onerror = null; this.src = '@Url.Content("~/content/images/mcsd.png")';">
                        </div>
                        <div class="owl-item">
                            <img src="@CdnUrl.Content("content/images/ms_csharp.png")"
                                 alt="MS: Programming in C# Specialist"
                                 onerror="this.onerror = null; this.src = '@Url.Content("~/content/images/ms_csharp.png")';">
                        </div>
                        <div class="owl-item">
                            <img src="@CdnUrl.Content("Content/images/ms_web.png")"
                                 alt="MS: Programming in HTML5 with JavaScript and CSS3 Specialist"
                                 onerror="this.onerror = null; this.src = '@Url.Content("~/Content/images/ms_web.png")';">
                        </div>
                    </div>
                </div><!-- .col-md-9 -->
            </div><!-- .row -->
        </div><!-- .container -->
    </section>
    <!-- Certifications section end -->
</div>