@using System.Linq
<div class="container">
    <div class="row">
        <div class="col-md-12 headline">
            <h2>Events</h2>
            <p>
                Locked in. There are always others waiting to be announced.
            </p>
            @if (!IsItAllEvents)
            {
                <p>
                    Past years:
                    <span>
                        @for (var year = 2015; year <= DateTime.UtcNow.Year; year++)
                        {
                            if (Events.All(x => x.Date.Year != year))
                            {
                                <a href="/?period=@year#events" rel="noopener">@year</a>
                            }
                        }
                        <a href="/?period=all#events" rel="noopener">Show All</a>
                    </span>
                </p>
            }
            else
            {
                <p><a href="/#events" rel="noopener">Back to current year</a></p>
            }
        </div>
    </div>

    @foreach (var groupedByYear in Events.GroupBy(x => x.Date.Year).OrderByDescending(x => x.Key))
    {
        <div class="row events-per-year">
            <div class="col-md-3">
                <h3>@groupedByYear.Key</h3>
            </div>
            @foreach (var entry in groupedByYear.OrderByDescending(x => x.Date).Select((value, i) => new { Index = i, Value = value }))
            {
                var className = entry.Index == 0 ? "col-md-6 col-sm-8" : "col-md-6 offset-md-3 col-sm-8";
                var isUpcoming = DateTime.UtcNow < entry.Value.Date.ToUniversalTime();
                <div class="@className">
                    <h4>
                        @if (string.IsNullOrEmpty(entry.Value.Link))
                        {
                            @entry.Value.Title
                        }
                        else
                        {
                            <a href="@entry.Value.Link" rel="noopener">@entry.Value.Title</a>
                        }
                        @if (isUpcoming)
                        {
                            @((MarkupString)"&emsp;")<span class="badge text-bg-info">Upcoming</span>
                        }
                    </h4>
                    @foreach (var item in entry.Value.Items)
                    {
                        <div>@item.Description</div>
                        if (!isUpcoming && item.Collateral.Any())
                        {
                            <ul class="collateral">
                                @foreach (var collateralItem in item.Collateral.OrderByDescending(x => x.Value))
                                {
                                    <li><a href="@collateralItem.Key" rel="noopener">@collateralItem.Value</a></li>
                                }
                            </ul>
                        }
                    }
                    <hr class="d-none d-sm-block">
                </div>
                <div class="col-md-3 col-sm-4 event-place">
                    <h4><i class="fa fa-location-arrow"></i>@entry.Value.Location</h4>
                    <i class="fa fa-calendar"></i>@entry.Value.Date.ToString("MMM dd, yyyy")
                    <hr class="d-block d-sm-none">
                </div>
            }
        </div>
    }
</div>

@code {
    [Parameter, EditorRequired] public EventModel[] Events { get; set; } = [];
    [Parameter] public bool IsItAllEvents { get; set; }
}
