<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Igor Fesenko - Personal Site" />
    <link rel="shortcut icon" href="@CdnUrl.Content("favicon.ico")" type="image/x-icon">
    <link rel="icon" href="@CdnUrl.Content("favicon.ico")" type="image/x-icon">
    <title>Igor Fesenko</title>

    @Styles.Render("~/bundles/bootstrapCss")
    @Styles.Render("~/bundles/font-awesome")
    @Styles.Render("~/bundles/css")

    @AnalyticsHelper.GetGoogleAnalyticsScript()
    @AnalyticsHelper.GetAppInsightsScript()
    @AnalyticsHelper.GetYandexMetricsScript()
</head>