@using System.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Igor Fesenko - Personal Site. I'm available for helping your team succeed. You can find details on the home page. Please feel free to contact me.">
    <meta name="keywords" content="Web Applications,Sites,Web Services,SOA,Security,Identity,Data Access,Integration,Databases,Desktop Applications,Cloud Computing,Mobile Client Applications,Big Data">
    <meta name="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="shortcut icon" href="@CdnUrl.Content("favicon.ico")" type="image/x-icon">
    <link rel="icon" href="@CdnUrl.Content("favicon.ico")" type="image/x-icon">
    <link rel="apple-touch-icon" href="@CdnUrl.Content("apple-touch-icon.png")">
    <title>Igor Fesenko - You're welcome!</title>

    @Scripts.Render("~/bundles/ai-js")

    @Styles.Render("~/bundles/font-awesome-css")
    @Styles.Render("~/bundles/bootstrap-css")
    @Styles.Render("~/bundles/animate-css")
    @Styles.Render("~/bundles/toastr-css")
    @Styles.Render("~/bundles/simpletextrotator-css")
    @Styles.Render("~/bundles/nprogress-css")
    @Styles.Render("~/bundles/site-css")
</head>
<body data-spy="scroll" data-target=".navbar-custom" data-offset="50">
    @RenderBody()
    <footer id="footer">
        <div class="container">
            <div class="row">
                <p class="copy text-center">
                    @System.Reflection.Assembly.GetAssembly(typeof(HomeController)).GetName().Version.ToString().TrimEnd('0').Trim('.')
                </p>
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        window.options = { cdnUrl: '@ConfigurationManager.AppSettings["CdnUrl"]', useCdn: @BundleTable.Bundles.UseCdn.ToString().ToLowerInvariant() };
    </script>
    <!--[if lt IE 9]>
    @Scripts.Render("~/bundles/html5shiv-js")
    @Scripts.Render("~/bundles/respond-js")
    <![endif]-->
    @Scripts.Render("~/bundles/jquery-js")
    @Scripts.Render("~/bundles/bootstrap-js")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/toastr-js")
    @Scripts.Render("~/bundles/simpletextrotator-js")
    @Scripts.Render("~/bundles/wow-js")
    @Scripts.Render("~/bundles/backstretch-js")
    @Scripts.Render("~/bundles/knockout-validation-js")
    @Scripts.Render("~/bundles/nprogress-js")
    @Scripts.Render("~/bundles/site-js")

</body>
</html>