@Html.FlushHead()
<body data-spy="scroll" data-target=".navbar-custom" data-offset="50">
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapJs")
    <!--[if lt IE 9]>
    @Scripts.Render("~/bundles/html5shiv")
    @Scripts.Render("~/bundles/respondJs")
    <![endif]-->
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
    <footer id="footer">
        <div class="container">
            <div class="row">
                <p class="copy pull-left">
                    Powered by Azure.
                </p>
                <p class="copy pull-right">
                    Design by Mark Stone.
                </p>
                <p class="copy text-center">
                    @System.Reflection.Assembly.GetAssembly(typeof(HomeController)).GetName().Version.ToString()
                </p>
            </div><!-- .row -->
        </div><!-- .container -->
    </footer>
</body>
</html>