@using Microsoft.ApplicationInsights.AspNetCore
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.PlatformAbstractions
@using PersonalWebApp.Settings
@inject IHostingEnvironment HostingEnvironment
@inject JavaScriptSnippet AppInsightsJs
@inject IOptions<AppSettings> AppSettings

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Igor Fesenko - Personal Site & Blog. You can find details on the home page. Please feel free to contact me.">
    <meta name="keywords" content="Web Applications,Sites,Web Services,SOA,Security,Identity,Data Access,Integration,Databases,Cloud Computing">
    <meta name="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewData["Title"]</title>
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="@AppSettings.Value.CdnEndpoint">
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <environment names="@nameof(EnvironmentName.Development)">
        <link rel="stylesheet" href="~/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link asp-append-version="true" rel="stylesheet" href="~/css/app.css" />
    </environment>
    <environment names="@nameof(EnvironmentName.Staging),@nameof(EnvironmentName.Production)">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <link asp-append-version="true" rel="stylesheet" href="@AppSettings.Value.CdnEndpoint/css/app.css" />
    </environment>
    <environment names="@nameof(EnvironmentName.Production)">
        @Html.Raw(AppInsightsJs.FullScript)
    </environment>
</head>
<body data-spy="scroll" data-target=".navbar-custom" data-offset="50">
    @RenderBody()
    <cache>
    <footer id="footer" role="contentinfo">
        <div class="container">
            <div class="row">
                <p class="copy text-center">
                    @PlatformServices.Default.Application.ApplicationVersion
                </p>
            </div>
        </div>
    </footer>
    </cache>
    <environment names="@nameof(EnvironmentName.Development)">
        <script src="~/js/jquery.js"></script>
        <script src="~/js/backstretch.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script asp-append-version="true" src="~/js/app.js"></script>
    </environment>
    <environment names="@nameof(EnvironmentName.Staging),@nameof(EnvironmentName.Production)">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/danielgindi-jquery-backstretch/2.1.15/jquery.backstretch.min.js" integrity="sha384-KfOfdYnzwAkX89zxb9lBL7djcP2yi1PEz7dJRb7xS4MyeTAsLM94qYF/C9k2RXEo" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script asp-append-version="true" src="@AppSettings.Value.CdnEndpoint/js/app.js"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>