@using System.Reflection
@using Microsoft.Extensions.Hosting
@using Microsoft.Extensions.Options
@using PersonalWebApp.Settings
@inject IOptions<AppSettings> AppSettings

@{
    var applicationVersion = Assembly.GetEntryAssembly()?.GetName().Version;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Igor Fesenko - Personal Page. You can find details on the home page. Please feel free to contact me.">
    <meta name="keywords" content="Web Applications,Sites,Web Services,SOA,Security,Identity,Data Access,Integration,Databases,Cloud Computing">
    <meta name="X-UA-Compatible" content="IE=edge,chrome=1">
    <environment include="Staging">
        <meta name="robots" content="noindex, follow">
    </environment>
    <title>@ViewData["Title"]</title>
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="@AppSettings.Value.CdnEndpoint">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <environment include="@nameof(Environments.Development)">
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link asp-append-version="true" rel="stylesheet" href="~/css/app.css" />
    </environment>
    <environment exclude="@nameof(Environments.Development)">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        <link rel="stylesheet" href="@AppSettings.Value.CdnEndpoint/css/app.css?v=@applicationVersion" />
    </environment>
    <environment include="@nameof(Environments.Production)">
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-58923658-1', 'auto');
            ga('send', 'pageview');
        </script>
        @Html.Raw(JavaScriptSnippet.FullScript)
    </environment>
</head>
<body data-spy="scroll" data-target=".navbar-custom" data-offset="50">
    @RenderBody()
    <cache>
    <footer id="footer" role="contentinfo">
        <div class="container">
            <div class="row">
                <p class="copy text-center">
                    @applicationVersion
                </p>
            </div>
        </div>
    </footer>
    </cache>
    <environment include="@nameof(Environments.Development)">
        <script crossorigin="anonymous" src="~/js/jquery.js"></script>
        <script crossorigin="anonymous" src="~/js/backstretch.js"></script>
        <script crossorigin="anonymous" src="~/js/bootstrap.js"></script>
        <script crossorigin="anonymous" asp-append-version="true" src="~/js/app.js"></script>
    </environment>
<environment exclude="@nameof(Environments.Development)">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/danielgindi-jquery-backstretch/2.1.15/jquery.backstretch.min.js" integrity="sha384-KfOfdYnzwAkX89zxb9lBL7djcP2yi1PEz7dJRb7xS4MyeTAsLM94qYF/C9k2RXEo" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script crossorigin="anonymous" src="@AppSettings.Value.CdnEndpoint/js/app.js?v=@applicationVersion"></script>
</environment>
    @RenderSection("scripts", required: false)
</body>
</html>