@using ResumePortfolioWebSite.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Igor Fesenko - Personal Site" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Igor Fesenko</title>

    @Styles.Render("~/bundles/bootstrapCss")
    @Styles.Render("~/bundles/font-awesome")
    @Styles.Render("~/bundles/css")

    @AnalyticsHelper.GetGoogleAnalyticsScript()
    @AnalyticsHelper.GetYandexMetricsScript()
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapJs")

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    @Scripts.Render("~/bundles/html5shiv")
    @Scripts.Render("~/bundles/respondJs")
    <![endif]-->
    @Scripts.RenderFormat(@"<script src="" {0}"" async></script>", "~/bundles/js")
    @RenderSection("scripts", required: false)
    <footer id="footer">
        <div class="container">
            <div class="row">
                <p class="copy pull-right">
                    Design by Mark Stone.
                </p>
            </div><!-- .row -->
        </div><!-- .container -->
    </footer>
</body>
</html>
